/* Fonts */
@font-face {
    font-family: 'Young Serif'; 
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-style: normal;
}

/* Outfit Variable Font */
@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* Define color and typography variables */
:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  --font-body: 'Outfit', sans-serif;
  --font-heading: 'Young Serif', serif;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-size-paragraph: 16px;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--stone-100);
}

/* General styles */
body {
  font-family: var(--font-body);
  line-height: 1.4;
  font-size: var(--font-size-paragraph);
  margin: 0;
  padding: 0;
  color: var(--stone-600);
  overflow-x: hidden;
}

.container {
    background-color: var(--white);
    min-width: 375px;
    margin: 0;
    padding: 0 0 5px;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.recipe {
    margin: 35px;
}


h1, h2 {
    font-family: var(--font-heading); 
    color: var(--stone-900);
    font-weight: var(--font-weight-regular);
}

h1 {
  font-size: 35px;
  margin: 0 0 21px;
  line-height: 1.1;
}

h2 {
    color: var(--brown-800);
    font-size: 27px;
    margin: 5px 0 0;
}

p {
    margin-bottom: 32px;
}

.prep-time {
    background-color: var(--rose-50);
    padding: 20px;
    border-radius: 12px;
}

#prep-time-label {
    font-family: var(--font-body);
    font-size: 20px;
    color: var(--rose-800);  
    font-weight: var(--font-weight-semi-bold);
}

ul.custom-list {
    margin: 10px 2px;
}

.custom-list {
    line-height: 1.4;
}

.custom-list, 
.instruction-list {
    list-style: none;
    padding: 0;
}

.custom-list>li {
    position: relative;
    padding-left: 2.6em;
    margin: 0 0 8px;
}

.custom-list>li:last-child {
    margin-bottom: 0;
}

.custom-list>li::before {
    content: "•";
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--rose-800);  
    font-weight: var(--font-weight-semi-bold);
}

.ingredients,
.instructions,
.nutrition {
    padding: 27px 0;
    margin-right: 5px;
}

.instruction-list {
    line-height: 1.4;
}

.instruction-list>li {
    counter-increment: custom-counter;
    position: relative;
    padding-left: 2.2em;
    margin-bottom: 12px;
}

.instruction-list>li::before {
    content: counter(custom-counter) ".";
    position: absolute;
    left: 6px;
    color: var(--rose-800);
    font-weight: var(--font-weight-semi-bold);
}

.bold {
    font-weight: var(--font-weight-bold);
}

.semi-bold {
    font-weight: var(--font-weight-semi-bold);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

td:not(.divider) {
    padding: 10px 30px;
}


.divider {
    height: 1px;
    padding: 0;
    background-color: var(--stone-150);
    border: none;
}

tr.divider td {
    height: 1px;
    padding: 0;
    background-color: var(--stone-150);
    border: none;
}

.nutrition {
    padding-bottom: 0;
}

.nutrition > p {
    margin-bottom: 20px;
}

.nutrition-facts {
    color: var(--rose-800);  
    font-weight: var(--font-weight-semi-bold);
}

/* Attribution styles */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}


/* Media Queries */
@media (max-width: 768px ) {
    .attribution {
        display: none;
    }
}

@media (min-width: 700px) {
  body {
    margin: 130px 0;  
    font-size: 17px;
    }

    img {
        width: 100%;
        border-radius: 12px;
    }

    .container {
        max-width: 775px;
        margin: 0 auto;
        padding: 40px;
        background-color: var(--white);
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .recipe {
        margin: 37px 0 0;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 21px;
    }

    h2 {
        font-size: 30px;
    }

    .prep-time {
        padding: 25px;
    }
}